@tailwind base;
@tailwind components;
@tailwind utilities;


  @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&family=Signika:wght@300;400;600;700&display=swap');
@layer base{
    body {
        @apply font-[Kanit];
    }
    li {
        @apply px-4;
        @apply cursor-pointer;
    }
}
.content-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
}
.content-div:hover {
    background-image: linear-gradient(
        to right,
        rgba(243, 243, 9, 0.8),
        hsla(242, 90%, 19%, 0.8)
    )!important;

}